<!doctype html>
<meta charset="utf-8">

<!-- load D3js -->
<script src="//d3plus.org/js/d3.js"></script>

<!-- load D3plus after D3js -->
<script src="//d3plus.org/js/d3plus.js"></script>

<!-- create container element for visualization -->
<div id="viz"></div>

<script>
  var sample_data = [

  ]
  
  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz")
    .type("bar")
    .data(sample_data)
    .id("id")
    .x("id")
    .x({"grid":false})
    .y("value")
    .y({"scale" : "log"})
    .draw()
</script>