<!doctype html>
<meta charset="utf-8">

<!-- load D3js -->
<script src="//d3plus.org/js/d3.js"></script>

<!-- load D3plus after D3js -->
<script src="//d3plus.org/js/d3plus.js"></script>

<!-- create container element for visualization -->
<div id="viz"></div>

<script>
  var sample_data = [
  {"id": 2, "value": 1802, "colour": "one"},
{"id": 1, "value": 1492, "colour": "one"},
{"id": 3, "value": 1488, "colour": "one"},
{"id": 4, "value": 926, "colour": "one"},
{"id": 5, "value": 648, "colour": "one"},
{"id": 6, "value": 574, "colour": "one"},
{"id": 7, "value": 417, "colour": "one"},
{"id": 8, "value": 387, "colour": "one"},
{"id": 9, "value": 284, "colour": "one"},
{"id": 10, "value": 231, "colour": "one"},
{"id": 11, "value": 215, "colour": "one"},
{"id": 13, "value": 187, "colour": "one"},
{"id": 12, "value": 156, "colour": "one"},
{"id": 14, "value": 136, "colour": "one"},
{"id": 15, "value": 121, "colour": "one"},
{"id": 31, "value": 119, "colour": "one"},
{"id": 20, "value": 118, "colour": "one"},
{"id": 19, "value": 105, "colour": "one"},
{"id": 28, "value": 99, "colour": "one"},
{"id": 18, "value": 98, "colour": "one"},
{"id": 17, "value": 97, "colour": "one"},
{"id": 25, "value": 93, "colour": "one"},
{"id": 23, "value": 85, "colour": "one"},
{"id": 16, "value": 84, "colour": "one"},
{"id": 21, "value": 83, "colour": "one"},
{"id": 24, "value": 75, "colour": "one"},
{"id": 22, "value": 70, "colour": "one"},
{"id": 29, "value": 68, "colour": "one"},
{"id": 26, "value": 65, "colour": "one"},
{"id": 38, "value": 60, "colour": "one"},
{"id": 46, "value": 59, "colour": "one"},
{"id": 30, "value": 51, "colour": "one"},
{"id": 27, "value": 49, "colour": "one"},
{"id": 90, "value": 49, "colour": "one"},
{"id": 238, "value": 44, "colour": "one"},
{"id": 77, "value": 43, "colour": "one"},
{"id": 52, "value": 39, "colour": "one"},
{"id": 42, "value": 37, "colour": "one"},
{"id": 41, "value": 35, "colour": "one"},
{"id": 45, "value": 35, "colour": "one"},
{"id": 65, "value": 34, "colour": "one"},
{"id": 33, "value": 32, "colour": "one"},
{"id": 89, "value": 32, "colour": "one"},
{"id": 32, "value": 30, "colour": "one"},
{"id": 92, "value": 30, "colour": "one"},
{"id": 98, "value": 29, "colour": "one"},
{"id": 44, "value": 27, "colour": "one"},
{"id": 58, "value": 27, "colour": "one"},
{"id": 39, "value": 26, "colour": "one"},
{"id": 49, "value": 25, "colour": "one"},
{"id": 51, "value": 25, "colour": "one"},
{"id": 69, "value": 25, "colour": "one"},
{"id": 34, "value": 24, "colour": "one"},
{"id": 35, "value": 24, "colour": "one"},
{"id": 54, "value": 22, "colour": "one"},
{"id": 40, "value": 19, "colour": "one"},
{"id": 43, "value": 19, "colour": "one"},
{"id": 37, "value": 18, "colour": "one"},
{"id": 61, "value": 17, "colour": "one"},
{"id": 36, "value": 15, "colour": "one"},
{"id": 66, "value": 15, "colour": "one"},
{"id": 47, "value": 14, "colour": "one"},
{"id": 53, "value": 13, "colour": "one"},
{"id": 57, "value": 13, "colour": "one"},
{"id": 50, "value": 12, "colour": "one"},
{"id": 63, "value": 12, "colour": "one"},
{"id": 62, "value": 11, "colour": "one"},
{"id": 56, "value": 10, "colour": "one"},
{"id": 59, "value": 10, "colour": "one"},
{"id": 93, "value": 10, "colour": "one"},
{"id": 74, "value": 9, "colour": "one"},
{"id": 91, "value": 9, "colour": "one"},
{"id": 96, "value": 9, "colour": "one"},
{"id": 68, "value": 8, "colour": "one"},
{"id": 73, "value": 8, "colour": "one"},
{"id": 95, "value": 8, "colour": "one"},
{"id": 97, "value": 8, "colour": "one"},
{"id": 103, "value": 8, "colour": "one"},
{"id": 64, "value": 7, "colour": "one"},
{"id": 80, "value": 7, "colour": "one"},
{"id": 84, "value": 7, "colour": "one"},
{"id": 85, "value": 7, "colour": "one"},
{"id": 101, "value": 7, "colour": "one"},
{"id": 149, "value": 7, "colour": "one"},
{"id": 48, "value": 6, "colour": "one"},
{"id": 60, "value": 6, "colour": "one"},
{"id": 67, "value": 6, "colour": "one"},
{"id": 72, "value": 6, "colour": "one"},
{"id": 76, "value": 6, "colour": "one"},
{"id": 79, "value": 6, "colour": "one"},
{"id": 239, "value": 6, "colour": "one"},
{"id": 247, "value": 6, "colour": "one"},
{"id": 308, "value": 6, "colour": "one"},
{"id": 55, "value": 5, "colour": "one"},
{"id": 75, "value": 5, "colour": "one"},
{"id": 81, "value": 5, "colour": "one"},
{"id": 83, "value": 5, "colour": "one"},
{"id": 86, "value": 5, "colour": "one"},
{"id": 87, "value": 5, "colour": "one"},
{"id": 99, "value": 5, "colour": "one"},
{"id": 100, "value": 5, "colour": "one"},
{"id": 105, "value": 5, "colour": "one"},
{"id": 108, "value": 5, "colour": "one"},
{"id": 117, "value": 5, "colour": "one"},
{"id": 118, "value": 5, "colour": "one"},
{"id": 122, "value": 5, "colour": "one"},
{"id": 246, "value": 5, "colour": "one"},
{"id": 282, "value": 5, "colour": "one"},
{"id": 297, "value": 5, "colour": "one"},
{"id": 70, "value": 4, "colour": "one"},
{"id": 71, "value": 4, "colour": "one"},
{"id": 78, "value": 4, "colour": "one"},
{"id": 94, "value": 4, "colour": "one"},
{"id": 102, "value": 4, "colour": "one"},
{"id": 104, "value": 4, "colour": "one"},
{"id": 107, "value": 4, "colour": "one"},
{"id": 109, "value": 4, "colour": "one"},
{"id": 111, "value": 4, "colour": "one"},
{"id": 124, "value": 4, "colour": "one"},
{"id": 126, "value": 4, "colour": "one"},
{"id": 244, "value": 4, "colour": "one"},
{"id": 249, "value": 4, "colour": "one"},
{"id": 254, "value": 4, "colour": "one"},
{"id": 303, "value": 4, "colour": "one"},
{"id": 321, "value": 4, "colour": "one"},
{"id": 327, "value": 4, "colour": "one"},
{"id": 82, "value": 3, "colour": "one"},
{"id": 88, "value": 3, "colour": "one"},
{"id": 106, "value": 3, "colour": "one"},
{"id": 110, "value": 3, "colour": "one"},
{"id": 112, "value": 3, "colour": "one"},
{"id": 121, "value": 3, "colour": "one"},
{"id": 131, "value": 3, "colour": "one"},
{"id": 136, "value": 3, "colour": "one"},
{"id": 137, "value": 3, "colour": "one"},
{"id": 143, "value": 3, "colour": "one"},
{"id": 161, "value": 3, "colour": "one"},
{"id": 164, "value": 3, "colour": "one"},
{"id": 178, "value": 3, "colour": "one"},
{"id": 240, "value": 3, "colour": "one"},
{"id": 242, "value": 3, "colour": "one"},
{"id": 256, "value": 3, "colour": "one"},
{"id": 287, "value": 3, "colour": "one"},
{"id": 296, "value": 3, "colour": "one"},
{"id": 298, "value": 3, "colour": "one"},
{"id": 312, "value": 3, "colour": "one"},
{"id": 328, "value": 3, "colour": "one"},
{"id": 346, "value": 3, "colour": "one"},
{"id": 113, "value": 2, "colour": "one"},
{"id": 114, "value": 2, "colour": "one"},
{"id": 116, "value": 2, "colour": "one"},
{"id": 120, "value": 2, "colour": "one"},
{"id": 127, "value": 2, "colour": "one"},
{"id": 129, "value": 2, "colour": "one"},
{"id": 134, "value": 2, "colour": "one"},
{"id": 138, "value": 2, "colour": "one"},
{"id": 139, "value": 2, "colour": "one"},
{"id": 145, "value": 2, "colour": "one"},
{"id": 146, "value": 2, "colour": "one"},
{"id": 151, "value": 2, "colour": "one"},
{"id": 160, "value": 2, "colour": "one"},
{"id": 169, "value": 2, "colour": "one"},
{"id": 170, "value": 2, "colour": "one"},
{"id": 172, "value": 2, "colour": "one"},
{"id": 173, "value": 2, "colour": "one"},
{"id": 181, "value": 2, "colour": "one"},
{"id": 185, "value": 2, "colour": "one"},
{"id": 186, "value": 2, "colour": "one"},
{"id": 241, "value": 2, "colour": "one"},
{"id": 243, "value": 2, "colour": "one"},
{"id": 250, "value": 2, "colour": "one"},
{"id": 251, "value": 2, "colour": "one"},
{"id": 252, "value": 2, "colour": "one"},
{"id": 253, "value": 2, "colour": "one"},
{"id": 257, "value": 2, "colour": "one"},
{"id": 260, "value": 2, "colour": "one"},
{"id": 263, "value": 2, "colour": "one"},
{"id": 264, "value": 2, "colour": "one"},
{"id": 266, "value": 2, "colour": "one"},
{"id": 269, "value": 2, "colour": "one"},
{"id": 291, "value": 2, "colour": "one"},
{"id": 294, "value": 2, "colour": "one"},
{"id": 299, "value": 2, "colour": "one"},
{"id": 305, "value": 2, "colour": "one"},
{"id": 306, "value": 2, "colour": "one"},
{"id": 310, "value": 2, "colour": "one"},
{"id": 317, "value": 2, "colour": "one"},
{"id": 325, "value": 2, "colour": "one"},
{"id": 342, "value": 2, "colour": "one"},
{"id": 343, "value": 2, "colour": "one"},
{"id": 372, "value": 2, "colour": "one"},
{"id": 375, "value": 2, "colour": "one"},
{"id": 423, "value": 2, "colour": "one"},
{"id": 425, "value": 2, "colour": "one"},
{"id": 440, "value": 2, "colour": "one"},
{"id": 115, "value": 1, "colour": "one"},
{"id": 119, "value": 1, "colour": "one"},
{"id": 125, "value": 1, "colour": "one"},
{"id": 128, "value": 1, "colour": "one"},
{"id": 130, "value": 1, "colour": "one"},
{"id": 132, "value": 1, "colour": "one"},
{"id": 140, "value": 1, "colour": "one"},
{"id": 147, "value": 1, "colour": "one"},
{"id": 148, "value": 1, "colour": "one"},
{"id": 150, "value": 1, "colour": "one"},
{"id": 152, "value": 1, "colour": "one"},
{"id": 158, "value": 1, "colour": "one"},
{"id": 162, "value": 1, "colour": "one"},
{"id": 163, "value": 1, "colour": "one"},
{"id": 167, "value": 1, "colour": "one"},
{"id": 168, "value": 1, "colour": "one"},
{"id": 179, "value": 1, "colour": "one"},
{"id": 183, "value": 1, "colour": "one"},
{"id": 188, "value": 1, "colour": "one"},
{"id": 190, "value": 1, "colour": "one"},
{"id": 192, "value": 1, "colour": "one"},
{"id": 193, "value": 1, "colour": "one"},
{"id": 194, "value": 1, "colour": "one"},
{"id": 202, "value": 1, "colour": "one"},
{"id": 204, "value": 1, "colour": "one"},
{"id": 210, "value": 1, "colour": "one"},
{"id": 211, "value": 1, "colour": "one"},
{"id": 212, "value": 1, "colour": "one"},
{"id": 214, "value": 1, "colour": "one"},
{"id": 228, "value": 1, "colour": "one"},
{"id": 245, "value": 1, "colour": "one"},
{"id": 248, "value": 1, "colour": "one"},
{"id": 258, "value": 1, "colour": "one"},
{"id": 259, "value": 1, "colour": "one"},
{"id": 261, "value": 1, "colour": "one"},
{"id": 265, "value": 1, "colour": "one"},
{"id": 267, "value": 1, "colour": "one"},
{"id": 270, "value": 1, "colour": "one"},
{"id": 271, "value": 1, "colour": "one"},
{"id": 272, "value": 1, "colour": "one"},
{"id": 273, "value": 1, "colour": "one"},
{"id": 274, "value": 1, "colour": "one"},
{"id": 275, "value": 1, "colour": "one"},
{"id": 278, "value": 1, "colour": "one"},
{"id": 279, "value": 1, "colour": "one"},
{"id": 283, "value": 1, "colour": "one"},
{"id": 289, "value": 1, "colour": "one"},
{"id": 292, "value": 1, "colour": "one"},
{"id": 295, "value": 1, "colour": "one"},
{"id": 300, "value": 1, "colour": "one"},
{"id": 301, "value": 1, "colour": "one"},
{"id": 309, "value": 1, "colour": "one"},
{"id": 313, "value": 1, "colour": "one"},
{"id": 314, "value": 1, "colour": "one"},
{"id": 316, "value": 1, "colour": "one"},
{"id": 322, "value": 1, "colour": "one"},
{"id": 326, "value": 1, "colour": "one"},
{"id": 330, "value": 1, "colour": "one"},
{"id": 331, "value": 1, "colour": "one"},
{"id": 332, "value": 1, "colour": "one"},
{"id": 333, "value": 1, "colour": "one"},
{"id": 334, "value": 1, "colour": "one"},
{"id": 335, "value": 1, "colour": "one"},
{"id": 336, "value": 1, "colour": "one"},
{"id": 338, "value": 1, "colour": "one"},
{"id": 345, "value": 1, "colour": "one"},
{"id": 347, "value": 1, "colour": "one"},
{"id": 348, "value": 1, "colour": "one"},
{"id": 349, "value": 1, "colour": "one"},
{"id": 350, "value": 1, "colour": "one"},
{"id": 352, "value": 1, "colour": "one"},
{"id": 354, "value": 1, "colour": "one"},
{"id": 355, "value": 1, "colour": "one"},
{"id": 359, "value": 1, "colour": "one"},
{"id": 364, "value": 1, "colour": "one"},
{"id": 365, "value": 1, "colour": "one"},
{"id": 367, "value": 1, "colour": "one"},
{"id": 371, "value": 1, "colour": "one"},
{"id": 374, "value": 1, "colour": "one"},
{"id": 380, "value": 1, "colour": "one"},
{"id": 381, "value": 1, "colour": "one"},
{"id": 394, "value": 1, "colour": "one"},
{"id": 400, "value": 1, "colour": "one"},
{"id": 403, "value": 1, "colour": "one"},
{"id": 409, "value": 1, "colour": "one"},
{"id": 415, "value": 1, "colour": "one"},
{"id": 422, "value": 1, "colour": "one"},
{"id": 424, "value": 1, "colour": "one"},
{"id": 443, "value": 1, "colour": "one"},
{"id": 444, "value": 1, "colour": "one"},
{"id": 482, "value": 1, "colour": "one"},
{"id": 486, "value": 1, "colour": "one"},
{"id": 491, "value": 1, "colour": "one"},
  ]

  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz")
    .type("bar")
    .data(sample_data)
    .id("id")
    .x("id")
    .x({"grid":false})
    .x({"ticks": {"labels": false }})
    .y("value")
    .y({"scale" : "log"})
    .color({
      "scale": "category10",
      "value": "colour"
    })
    .draw()
</script>